    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box; /* width includes the content, padding, and border combined */
    }

    :root {
        --bg: #0d2348;
        --panel: #172f5d;
        --panel-dark: #10274d;
        --right: #112954;
        --line: #2b456e;
        --gold: #d9b449;
        --text: #f4f6fb;
        --card: #081827;
    } 

    .text-logo {
        color: var(--gold);
        font-size: 100px;
        text-align: center;
        margin-bottom: 50px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--bg);
        color: var(--text);
        display: grid;
        grid-template-columns: 80px 1fr 20%;
        height: 100vh;
        overflow: hidden; 
    }

    .sidebar-left {
    background-color: var(--panel-dark);
    width: 80px;
    display: flex;
    flex-direction: column;
    z-index: 20;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3); 
    border-right: 1px solid var(--line);
}


    .logo-link {
        padding: 15px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        object-fit: cover; /* makes the even fit to the cover container */
    }

    .menu-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        color: white;
        text-decoration: none;
        transition: background-color 0.2s;
        cursor: pointer;
    }

    .menu-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-item i {
        font-size: 22px;
    }

    .menu-item.active {
        background: linear-gradient(135deg, var(--gold), #9e7e0b); /* top left first color, bottom right last color */
        color: var(--bg);
    }

    .menu-text {
        font-size: 13px;
        margin-top: 6px;
        display: block;
        text-align: center;
    }


    .main-content {
        display: flex;
        flex-direction: column;
        padding: 20px 40px 0 40px;
        overflow-y: auto;
        position: relative;
        z-index: 1;
        background-color: var(--panel);
    }

    .page-title {
        color: var(--gold);
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0;
        margin-bottom: 30px;
        letter-spacing: 1px;
        padding: 8px 18px 10px;
    }

    .content-section {
        margin-bottom: 20px;
    }

    .text-block {
        font-size: 0.95rem;
        line-height: 1.6;
        margin-bottom: 15px;
        color: #f2f4f8;
    }


    .social-footer {
        margin-top: auto;
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



    .sidebar-right {
        border-left: 1px solid var(--line);
        padding: 20px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #122d5a, #10264f);
        
    }

    @media (max-height:1080px){
      .sidebar-right {
        border-left: 1px solid var(--line);
        padding: 20px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #122d5a, #10264f);
        overflow-y: hidden;
      }
    }
    
    .sidebar-title {
        color: var(--gold);
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .main-container {
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .containers {
        text-align: center;
        width: 100%;
        height: 40%;
    }

    .container-image {
        display: flex;
        width: 100%;
        aspect-ratio: 5 / 3.2; /* for the recent stories,  */
        justify-content: center;
    }

    .container-image img {
        object-fit: cover;
        display: block;
        border-radius: 10%;
        cursor: pointer;
        width: 100%;
        height: 100%;
        aspect-ratio: 5 / 3.2;
    }
    
    .container-image img:hover {
        transform: scale(1.05);
        z-index: 10;
        position: relative;
    }

    .container-desc h2 {
        margin-top: 0px;
    }

    .container-desc {
        height: 70px;
    }

    .container-desc a {
        font-size: 1rem;
        color: var(--text);
        text-decoration: none;
    }

    .container-desc a:hover {
        text-decoration: underline;
        color: var(--gold);
    }
    
    .hero-topbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 18px 30px;
        border-bottom: 1px solid var(--line);
        background-color: var(--panel-dark);
        margin-top: 20px;
    }

    .hero-topbar-title,
    .hero-topbar-category {
        color: var(--gold);
        font-size: 2rem;
        font-weight: 600;
    }

    .hero-topbar-sep {
        opacity: 0.5;
    }

  
    .hero-slides-track {
        overflow: hidden;
    }

   
    .hero-slides-inner {
        display: flex;
        transition: 0.7s;
    }

    .hero-slide {
        min-width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding: 30px 30px 0;
        max-height: 400px;
        margin-bottom: 50px;
    }

    @media (max-height:1080px) {
        .hero-slide {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
        padding: 30px 30px 0;
        max-height: 400px;
        margin-bottom: 50px;
      }
    }

    .hero-featured-label {
        color: var(--gold);
        font-size: 3.2rem;
        font-weight: 800;
        margin: 0 0 10px;
        line-height: 1.1;
    }

    .hero-subtitle {
        font-size: 20px;
        margin: 0 0 25px;
        opacity: 0.85;
    }

    .hero-desc {
        font-size: 20px;
        line-height: 1.7;
        color: #d8deee;
        margin-bottom: 20px;
        max-width: 380px;
    }

    .hero-learn-more {
        color: var(--text);
        font-size: 0.97rem;
    }

    .hero-image {
        width: 340px;
        overflow: hidden;
    }

    .hero-img-placeholder {
        width: 100%;
        height: 400px;

    }

    .hero-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 0 0 30px;
    }

    .nav-dots {
        display: flex;
        gap: 10px;
    }

    .nav-dot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        opacity: 0.5;
        cursor: pointer;
        transition: 0.25s;
    }

    .nav-dot.active {
        opacity: 1;
        transform: scale(1.15);
    }

    .nav-arrows {
        display: flex;
        gap: 12px;
    }

    .arrow-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid white;
        background: transparent;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }

    .arrow-btn:hover {
        background: white;
        color: var(--bg);
    }

    .article-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    .article-page-title {
        color: var(--gold);
        font-size: 2rem;
        font-weight: 800;
        margin-block: 30px 18px;
        text-align: center;
    }

    .article-row {
        display: flex;
        gap: 24px;
    }

    .article-text-block h2 {
        color: var(--gold);
        font-size: 1.5rem;
        margin: 0 0 10px;
    }

    .article-text-block p {
        font-size: 0.95rem;
        line-height: 1.75;
        color: #d8deee;
        text-align: justify;
        margin: 0;
    }


    .article-text-block>p {
        font-size: 24px;
    }


    .quote em {
      color: var(--gold);
      font-weight: bold;
      font-size: 35px;
    }